In [9]:
num1=int(input("Enter the number1:"))
num2=int(input("Enter the number2:"))
num3=int(input("Enter the number3:"))
add=num1+num2
sub=add-num3
print(add)
print(sub)

Enter the number1: 100
Enter the number2: 70
Enter the number3: 50

170
120

In [11]:
name1=input("Enter the name1:")
name2=input("Enter the name2:")
name3=input("Enter the name3:")
add=name1+name2+name3
print(add)

Enter the name1: TU.
Enter the name2: Raja
Enter the name3: lakshmi

TU.Rajalakshmi